In [1]:
import mysql.connector
mydb=mysql.connector.connect(
    host= 'localhost', 
    user= 'root' ,
    passwd= '1234', 
    database='Courier_service_system_g1' )
mycursor = mydb.cursor()

mycursor.execute("create table courier(customer_name varchar(99) ,customer_mobile_number varchar(789),customer_address text(789),receiver_name varchar(99) ,receiver_mobile_number varchar(789),receiver_address text(789))")

In [2]:
import mysql.connector
mydb=mysql.connector.connect(
    host= 'localhost', 
    user= 'root' ,
    passwd= '1234', 
    database='Courier_service_system_g1' )
mycursor = mydb.cursor()

mycursor.execute('create table couriers2(Weight_in_kgs varchar(789),Cost_in_rupees varchar(789));')

In [3]:
import mysql.connector
mydb=mysql.connector.connect(
    host= 'localhost', 
    user= 'root' ,
    passwd= '1234', 
    database='Courier_service_system_g1' )
mycursor = mydb.cursor()

mycursor.execute('create table couriers3(city varchar(99),courier_boys varchar(99),courier_service_boys_mob_number varchar(99));')

In [4]:
import mysql.connector
mydb=mysql.connector.connect(
    host= 'localhost', 
    user= 'root' ,
    passwd= '1234', 
    database='Courier_service_system_g1' )
mycursor = mydb.cursor()

sql = "INSERT INTO couriers2 (Weight_in_kgs, Cost_in_rupees) VALUES (%s, %s)"

val = [
    ('1kg','50Rs'),
    ('2kg','75Rs'),
    ('3kg','100Rs'),
    ('4kg','125Rs'),
    ('5kg','150Rs'),
    ('10kg','275Rs'),
    ('20kg','525Rs'),
    ('30kg','775Rs'),
    ('40kg','1025Rs'),
    ('50kg','1275Rs'),
    ('100kg','2520Rs'),
    ('150kg','3770Rs'),
    ('200kg','5020Rs'),
    ('250kg','6270Rs'),
    ('300kg','7520Rs'),
    ('350kg','8770Rs'),
    ('400kg','10020Rs'),
    ('450kg','11270Rs'),
    ('500kg','12520Rs'),
]


mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

19 was inserted.

In [5]:
import mysql.connector
mydb=mysql.connector.connect(
    host= 'localhost', 
    user= 'root' ,
    passwd= '1234', 
    database='Courier_service_system_g1' )
mycursor = mydb.cursor()

sql = "INSERT INTO couriers3 (city, courier_boys, courier_service_boys_mob_number) VALUES (%s, %s, %s)"

val = [
    ('Delhi','Abhishek Singh','25648'),
    ('Delhi','Raman Dua','25659'),
    ('Delhi','Rahul Kumar','25672'),
    ('Gurugram','Surubhi Goel','24889'),
    ('Faridabad','Subhash Bose','27895'),
    ('Gurugram','Natasha Singh','24857'),
    ('Faridabad','Lokesh Kumar','27546'),
    ('Faridabad','Kamlesh Rana','27456'),
    ('Gurugram','Yogi Singh','24159'),
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

9 was inserted.

In [ ]:
import mysql.connector
mydb=mysql.connector.connect(
    host= 'localhost', 
    user= 'root' ,
    passwd= '1234', 
    database='Courier_service_system_g1' )
mycursor = mydb.cursor()

print('WELCOME TO G&S COURIER SERVICE:')
print('Hi')
o=input('Press enter to begin your courier surfing  -  ')
print('1.CREATE YOUR COURIER SERVICE ACCOUNT  -  ')
print('2.LOGIN')
choose=int(input('ENTER (1) FOR NEW ACCOUNT OR (2) FOR LOGIN:  -  '))
if choose==1:
    
    n=input('Enter your Username  -  ')
    p=input('Set your password here -  ')
    q=input('Confirm password  -  ')
    
    sql = "INSERT INTO login (User_name, Password) VALUES(%s,%s)"
    val = [
        (n,q),
    ]
    mycursor.executemany(sql,val)
    
    mydb.commit()
    
    print(mycursor.rowcount,"record inserted")
    
    print('ACCOUNT CREATED CONGRATULATIONS')
    move_in=input('press enter to login:')
    %run B_Menu.ipynb
    
    
elif choose==2:
    
    email=input('Enter your user_name')
    passd=input('Enter your PASSWORD:')
    
    sql = "SELECT * FROM courier WHERE user_name and password = '{}'and'{}' ".format(email and passd)
    
    mycursor.execute(sql)

    myresult = mycursor.fetchone()
    
    
    if myresult.fetchone() is None:
        print(' sorry your password in wrong')
    else:
          %run B_Menu.ipynb

WELCOME TO G&S COURIER SERVICE:
Hi
Press enter to begin your courier surfing  -  Hi
1.CREATE YOUR COURIER SERVICE ACCOUNT  -
2.LOGIN
ENTER (1) FOR NEW ACCOUNT OR (2) FOR LOGIN:  -  1
Enter your Username  -  rj326
Set your password here -  1234
Confirm password  -  1234
1 record inserted
ACCOUNT CREATED CONGRATULATIONS